<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.url">jdbc:mysql://localhost:3306/netcrackerappdb</property>
      <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.netcracker.project.entity.user.UserEntity"/>
      <mapping class="com.netcracker.project.entity.company.CompanyEntity"/>
      <mapping class="com.netcracker.project.entity.university.SpecialityEntity"/>
      <mapping class="com.netcracker.project.entity.university.FacultyEntity"/>
      <mapping class="com.netcracker.project.entity.university.UniversityEntity"/>
      <mapping class="com.netcracker.project.entity.user.student.StudentEntity"/>
      <mapping class="com.netcracker.project.entity.practice.PracticeEntity"/>
  </session-factory>
</hibernate-configuration>